<h1>omg becky your age is so big</h1>
<h2> earth age is <%= @earth_age %> years</h2>
<h2> mercury age is <%= @mercury_age %> years</h2>
<h2> venus age is <%= @venus_age %> years</h2>
<h2> mars age is <%= @mars_age %> years</h2>
<h2> jupiter age is <%= @jupiter_age %> years</h2>
<h2> saturn age is <%= @saturn_age %> years</h2>
<h2> uranus age is <%= @uranus_age %> years</h2>
<h2> neptune age is <%= @neptune_age %> years</h2>
<h2>if pluto was a planet (and had a liveable atmosphere) you would be <%= @pluto_age %> years old</h2>
